
{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the given attribute, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.categoryID}}</td>
            <td>{{this.category}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<div id="insert" style="display: block">
    <form id="add-category-form" method="POST" action="/add-category-form">
        <legend><strong>Add Product Category</strong></legend>
        <fieldset class="fields">
            <label for="input-category">Category Name</label>
            <input type="text" name="input-category" id="input-category">
            <br>
            <input type="submit" value="Add Category">
        </fieldset>
    </form>
</div>

