
 <div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="products">Products</a>
  <a href="categories">Categories</a>
  <a href="suppliers">Suppliers</a>
  <a href="customers">Customers</a>
  <a href="salesorders">SalesOrders</a>
  <a href="productsales">ProductSales</a>
</div> 
<p id="select" style="display: block" style="margin-bottom:3cm;"></p>
{{!-- Create a table --}}
<table border=".5" cellpadding="3">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

<p style="margin-bottom:.5cm;"></p>
    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the given attribute, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.categoryID}}</td>
            <td>{{this.category}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<p id="insert" style="display: block" style="margin-bottom:3cm;">
    <form id="add-category-form" method="POST" action="/add-category-form">
        <legend><strong>Add Product Category</strong></legend>
        <fieldset class="fields">
            <table>
            <tr><td><input type="text" name="input-category" id="input-category" placeholder="Category Name">
            <br>
            <tr><td><input type="submit" value="Add Category">
        </fieldset>
    </form>
</div>

