<head>
    <title>The Office Superstore</title>
</head>
<body>
    <header>
        <h1>Welcome to The Office Superstore</h1>
        <p>Your One-Stop Shop for Office Supplies</p>
    </header>

    <nav>
        <ul>
            <li><a href="products">Products</a></li> 
            {{!-- <li><a href="categories">Categories</a></li>
             <li><a href="suppliers">Suppliers</a></li> 
             <li><a href="customers">Customers</a></li>  
             <li><a href="salesorders">SalesOrders</a></li>
             <li><a href="productsales">ProductSales</a></li> --}} 
        </ul>
    </nav>
</body>